<%- include("partials/header2.ejs") %>


 
  <!-- ======= Frequently Asked Questions Section ======= -->
   <section id="faq" class="faq">  
      <div class="container" data-aos="fade-up"> -->

      <div class="section-header">
        <span>Frequently Asked Questions</span>
        <h2>Ecobot : E-Waste Chatbot</h2>

      </div>
      <div class="chat">
        <div class="container1 ">
          <h1>E-Waste Chatbot</h1>
          <input type="text" id="userInput" placeholder="Type your message...">
          <button class="btn1" onclick="sendMessage()">Send</button>
          <br> <br>
          <div id="chat"></div>
          </div>
      </div>
       

   </div> 

   

    </section>End Frequently Asked Questions Section --> 

  

 

<%- include("partials/footer.ejs") %>