<%- include("partials/header.ejs") %>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class=" page-header d-flex align-items-center" style="background-image: url(assets/img/sih12.jpeg);" >
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>About</h2>
              <p>At E-WasteSolutions, our mission is to simplify e-waste disposal while promoting sustainability. We connect you with the nearest certified e-waste collectors through our user-friendly platform. Once you've scheduled a pickup, our trusted delivery partners will collect your e-waste right from your doorstep. Your items are then transported to a certified collection center where fair pricing is determined. We believe in transparency, so you'll receive the value of your e-waste, contributing to your wallet and the environment. Plus, we provide certificates to assure you of responsible disposal. Join us in creating a cleaner, greener world, one device at a time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="assets/img/sih12.jpeg" class="img-fluid" alt="">
            <a href="https://youtu.be/wm-tyqp1Z1k?feature=shared" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              Connecting You to Certified Collectors: Our user-friendly platform makes it easy for you to find and connect with certified e-waste collectors in your area. These collectors are trained to handle electronic waste responsibly.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Effortless Pickup Services: </h5>
                  <p>Once you've scheduled a pickup through our platform, our trusted delivery partners will come to your location to collect your e-waste. This convenient doorstep pickup ensures a hassle-free experience for you.
                  </p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Transparent Pricing: </h5>
                  <p> We believe in transparency, and that's why we provide clear and fair pricing for your e-waste. You'll receive the value of your e-waste, contributing to your finances while supporting eco-friendly practices.
                  </p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Certificates for Responsible Disposal: </h5>
                  <p>To give you peace of mind, we provide certificates that confirm the responsible disposal of your e-waste. You can trust that your old devices are being managed in an environmentally conscious manner</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>E-waste drives</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

  </main><!-- End #main -->

  <%- include("partials/footer.ejs") %>