<%- include("partials/header.ejs") %>
    <div class="card-info">
        <h1 class="heading">Resource Depletion:</h1>
        <ol>
            <li class="points">Loss of Valuable Resources:</li>
            <ul class="info-details"> 
             <li>E-waste contains valuable resources that are used in the manufacturing of electronic components. These resources include rare and precious metals such as gold, silver, palladium, and even rare earth elements.</li>
            <li>When electronic devices are discarded or improperly disposed of, these valuable materials are effectively lost. This represents a significant waste of finite resources that could otherwise be recycled and reused in new electronic products.</li></ul>
                <br> <br>
            <li class="points">Environmental Degradation from Mining:</li>
            <ul class="info-details"><li>To compensate for the loss of these valuable metals and minerals due to inefficient recycling of e-waste, there is increased pressure on mining operations to extract these resources from the Earth's crust.</li>
            <li>Mining activities, particularly for rare metals, can lead to environmental degradation, including deforestation, soil erosion, habitat destruction, and water pollution. Open-pit mining and the use of chemical processes in mining can have particularly harmful environmental impacts.</li>
            <li>The extraction and processing of metals and minerals also consume large amounts of energy and water resources, contributing to resource inefficiency and environmental strain.</li></ul>
                <br> <br>
            <li class="points">Social Conflicts and Ethical Concerns:</li>
            <ul class="info-details">
            <li>The demand for rare metals used in electronics can lead to social conflicts in regions where these resources are extracted. Competition for access to these valuable resources can exacerbate tensions and disputes among communities, mining companies, and governments.</li>
            <li>Additionally, there are ethical concerns related to the working conditions and labor practices in some mining regions, where workers may face hazardous conditions and exploitation.</li>
        </ul>
        </ol>
    </div>
    <%- include("partials/footer.ejs") %>