<%- include("partials/header.ejs") %>
    <div class="card-info">
        <h1 class="heading">Data Security Risks:</h1>
        <ol>
            <li class="points">Data Residuals on Storage Devices</li>
            <ul class="info-details"> 
             <li>When individuals or organizations dispose of electronic devices such as computers, smartphones, and hard drives without securely erasing data, sensitive information may remain on these devices.</li>
            <li>Even if data is deleted or a factory reset is performed, it often leaves behind data residuals that can potentially be recovered. This residual data may include personal information, financial records, confidential business data, or login credentials.</li></ul>
                <br> <br>
            <li class="points">Risk of Data Breaches and Identity Theft:</li>
            <ul class="info-details">
            <li>Improper disposal of electronic devices, especially those containing sensitive data, poses a significant risk of data breaches and identity theft. If these devices end up in the wrong hands, malicious actors may attempt to recover and exploit the data for illegal purposes.</li>
            <li>Stolen personal data can be used for identity theft, fraud, or cyberattacks. Corporate data breaches can lead to financial losses, damage to reputation, and legal consequences.</li></ul>
                <br> <br>
            <li class="points">Legal and Regulatory Compliance:</li>
            <ul class="info-details">
            <li>Depending on the jurisdiction and industry, there may be legal and regulatory requirements regarding the proper disposal of electronic data-containing devices. Organizations that fail to comply with data protection laws and regulations may face fines and legal penalties.</li>
            <li>Secure data disposal methods, such as data wiping, degaussing, or physical destruction, are often necessary to meet compliance standards and ensure the protection of sensitive information.</li>
        </ul>
        </ol>
    </div>
    <%- include("partials/footer.ejs") %>