<%- include("partials/header.ejs") %>
    <div class="card-info">
        <h1 class="heading">Environmental Pollution</h1>
        <ol>
            <li class="points">Toxic Chemicals:</li>
            <ul class="info-details"> <li>E-waste contains hazardous materials like lead, mercury, cadmium, and brominated flame retardants. Improper disposal can lead to the release of these toxic substances into the environment</li>
             <li>E-waste is often laden with toxic chemicals and heavy metals. For example, lead is used in soldering electronic components, mercury is found in certain switches and batteries, cadmium is present in rechargeable batteries, and brominated flame retardants are used in plastic casings and circuit boards.</li>
            <li>When electronic devices are not properly recycled or disposed of, these hazardous materials can be released into the environment. This can occur through various means, such as incineration, informal recycling practices, or landfill disposal.</li>
            <li>Toxic substances like lead, when released into the environment, can contaminate the air, soil, and water, posing serious health risks to humans, wildlife, and ecosystems.</li></ul>
                <br> <br>
            <li class="points">Soil Contamination:</li>
            <ul class="info-details"><li>When e-waste is disposed of in landfills, the hazardous chemicals and heavy metals it contains can leach into the soil over time. This leaching process is often accelerated by rainfall and moisture in the landfill.</li>
            <li>Contaminated soil can become unsuitable for agriculture and other land uses. It may also adversely affect the growth of plants, leading to reduced crop yields and the potential ingestion of toxic substances by livestock that graze on contaminated land.</li>
            <li>Soil contamination from e-waste can persist for long periods, posing a lasting threat to the environment.</li></ul>
                <br> <br>
            <li class="points">Water Pollution:</li>
            <ul class="info-details"><li>Rainwater and precipitation can carry toxic substances from e-waste, particularly when it's improperly stored in landfills or disposed of in open areas.</li>
            <li>These toxins can infiltrate the soil, percolate into groundwater, and flow into nearby rivers and water bodies. Once in rivers and streams, the pollutants can spread further, affecting larger aquatic ecosystems.</li>
            <li>Water pollution resulting from e-waste can harm aquatic life, impacting fish and other organisms. Additionally, these pollutants can bioaccumulate in the food chain, potentially reaching levels that are harmful to humans who consume contaminated fish or water.</li>
            <li>Over time, such pollution can disrupt ecosystems, damage biodiversity, and have far-reaching ecological consequences.</li>
        </ul>
        </ol>
    </div>
    <%- include("partials/footer.ejs") %>