<%- include("partials/header2.ejs") %>

<section id="faq" class="faq">  
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Ecobot : E-Waste Chatbot</h2>
    </div>

       <!-- <div class="chat container">
          <div class="container1">
            <h1>E-Waste Chatbot</h1>
            <input type="text" id="userInput" placeholder="Type your message...">
            <br><br>
            <button class="btn1" onclick="sendMessage()">Send</button>
            <br> <br>
            <div id="chat"></div>
            </div>
        </div> -->




 <div class="chat-container">
  <div class="container1">
      <h1>E-Waste Chatbot</h1>
      <div class="chat-content">
          <img src="assets/img/chatbot.png" alt="Chatbot" class="chatbot-img">
          <div class="chat-box">
              <div id="recognising" style="display: none;">Recognising...</div>
              <div id="chat"></div>
              <input type="text" id="userInput" placeholder="Type your message..."> <br> <br>
              <button id="voiceButton">Speak</button>
              <button class="btn1" onclick="sendMessage()">Send</button>
          </div>
      </div>
  </div>
</div>





  </div> 

</section>     

   

<%- include("partials/footer.ejs") %>