<%- include("partials/header.ejs") %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h1>
          <div  id="quote-container">
            <p id="quote"> One small device, one giant step for a greener planet</p>
          </div>
        </h1>
          <div class="d-flex justify-content-bottom justify-content-lg-start">
            <a href="https://www.youtube.com/watch?v=CmP67zq5hfo&ab_channel=PIBIndia" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <section class="d-flex justify-content-center align-items-center">
          <img src="assets/img/sih2.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
          </section>
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-trash"></i></div>
              <h4 class="title"><a href="https://en.wikipedia.org/wiki/Electronic_waste_in_India" class="stretched-link" target="_blank"><b>2.1 Million</b></a></h4>
              <h6 class="info">metric tons e-waste generate in India each year approximately</h6> 
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-recycle"></i></div>
              <h4 class="title"><a href="https://shorturl.at/dsyHO" class="stretched-link" target="_blank">10-20%</a></h4>
              <h6 class="info">e-waste is recycled out of the generated waste</h6>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shop"></i></div>
              <h4 class="title"><a href="https://cpcb.nic.in/uploads/Projects/E-Waste/List_of_E-waste_Recycler.pdf" class="stretched-link" target="_blank">468</a></h4>
              <h6 class="info">Authorised dismantlers/recyclers currently present in India</h6>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-pin"></i></div>
              <h4 class="title"><a href="https://www.unep.org/ietc/what-we-do/e-waste-management" class="stretched-link" target="_blank">2808</a></h4>
              <h6 class="info">e-waste collections centers working towards green environment</h6>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">


    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-clouds"></i>
              </div>
              <h3>Environmental Pollution</h3>
              <ul>
                <li>E-waste contains hazardous materials like lead, mercury, cadmium, and brominated flame retardants. Improper disposal can lead to the release of these toxic substances into the environment</li>
              </ul>
              
              <a href="/card1" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <h3>Health Risks</h3>
              <li>Toxins from e-waste can contaminate water sources and enter the food chain, potentially affecting the health of those who consume contaminated food and water.</li>
              <a href="/card2" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-tv"></i>
              </div>
              <h3>Electronic Devices in Landfills:</h3>
              <li>The accumulation of electronic devices in landfills contributes to the overall waste problem and takes up valuable landfill space.</li>
              <a href="/card3" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-water"></i>
              </div>
              <h3>Resource Depletion:</h3>
              <li>E-waste represents a significant loss of valuable resources such as rare metals, precious metals (like gold and silver), and other materials that could be recycled and reused. The extraction and mining of these resources can have their own environmental impacts.</li>
              <a href="/card4" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-database"></i>
              </div>
              <h3>Data Security Risks</h3>
              <li>Improper disposal of electronic devices may result in sensitive data being exposed or accessed by unauthorized individuals, leading to potential security breaches and privacy violations.</li>
              <a href="/card5" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-tree"></i>
              </div>
              <h3> Damage to Wildlife</h3>
              <li>Toxins from e-waste can enter the food chain, affecting wildlife and leading to population declines in certain species.When e-waste is not disposed of properly, whether through unsafe recycling practices, landfill disposal, or incineration, these toxins can leach into the environment.</li>
              <a href="/card6" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section --> 

  </main><!-- End #main -->

  <!-- process diagram -->
  <h1 class="process">Collection Process</h1>
 
  <section>
    <div class="d-flex flex-wrap  justify-content-between">
      <div class="col-md-6 col-lg-2" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <img src="assets/img/sih3.png" alt="Consumer" data-aos="zoom-out" data-aos-delay="100" height="180px" width="180px">
          <h4 class="title1">Customer</h4>
          <h6 class="info"></h6>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-2" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <img src="assets/img/arrow.png" alt="Arrow" data-aos="zoom-out" data-aos-delay="100" height="180px" width="180px">  
        </div>
      </div>
  
      <div class="col-md-6 col-lg-2" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <img src="assets/img/sih10.png" alt="Collector" data-aos="zoom-out" data-aos-delay="100" height="180px" width="180px">
          <h4 class="title1">Collection Partner</h4>
          <h6 class="info"></h6>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-2" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <img src="assets/img/arrow.png" alt="Arrow" data-aos="zoom-out" data-aos-delay="100" height="180px" width="180px">  
        </div>
      </div>
  
      <div class="col-md-6 col-lg-2" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <img src="assets/img/sih9.png" alt="Center" data-aos="zoom-out" data-aos-delay="100" height="180px" width="180px">
          <h4 class="title1">Collection Center</h4>
          <h6 class="info"></h6>
        </div>
      </div>
    </div>
  </section>
<!-- process diagram end-->

 <!-- ======= benifits Section ======= -->
 <section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6 col-md-6">
        <div class="benifits">
          <div class="icon">
          </div>
          <img src="assets/img/sih11.png" alt="Center" data-aos="zoom-out" data-aos-delay="100" height="500px" width="500px">
        </div>
        <div>
          <button onclick = "window.location.href='/signup';" class="rounded-button">Recycle E-waste
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="benifits">
          <div class="icon">
          </div>
          <h3>Benefits of Recycling E-waste</h3>
          <li>Recycling e-waste helps conserve valuable resources like metals (e.g., gold, silver, copper), plastics, and rare earth elements. These materials can be extracted from old electronics and reused in the manufacturing of new products, reducing the need for mining and resource extraction.</li>
          <li>E-waste can be bulky and challenging to dispose of in landfills. By recycling electronic devices, we reduce the volume of waste going into landfills, conserving valuable landfill space and preventing the release of hazardous materials into the environment.</li>
          <li>Responsible e-waste recycling prevents the release of toxic substances, including lead, mercury, cadmium, and brominated flame retardants, into the environment. This helps protect soil, water, and air quality and minimizes the harm to ecosystems and wildlife.</li>
        </div>
      </div>
    </div>

  </div>
</section><!-- End benifits Section --> 

<%- include("partials/footer.ejs") %>