<!DOCTYPE html>
<html>
<head>
  <title>Find Nearest Location</title>
</head>
 
<body>
  <h1>Find Nearest Location</h1>

  <p>Click the button below to find the nearest location based on your current location:</p>

  <div class="container-fixed" >
    <button onclick="findNearestLocation()">Find Nearest Location</button>
  </div>

  <div id="result"></div>

  <script src="/js/script.js"></script>
  
</body>
</html>