<%- include("partials/header.ejs") %>


  <main id="main">
    <h1 class="contactus">Login</h1>
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4 mt-4">
          <div class="col-lg-4">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Dr. D.Y. Patil Institute of Engineering, Management and Research, Ravet Village Road, Gurudwara Colony, Nigdi, Pimpri-Chinchwad, Maharashtra</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>thephoenixes54@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+91-9356708042</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <%- include("partials/footer.ejs") %>