<%- include("partials/mpheader.ejs") %>
    <div class="card-info">
        <h1 class="heading">Damage to Wildlife</h1>
        <ol>
            <li class="points">Contamination of Natural Ecosystems</li>
            <ul class="info-details"> <li>E-waste contains hazardous substances such as lead, mercury, cadmium, and flame retardants, which can persist in the environment when electronics are not properly disposed of or recycled.</li>
             <li>These toxins can leach into the soil and water, contaminating natural ecosystems where wildlife resides.</li>
            </ul>
                <br> <br>
            <li class="points">Impact on Herbivores and Predators:</li>
            <ul class="info-details">
            <li>Herbivorous animals, such as insects, small mammals, and herbivorous fish, may consume contaminated plants or organisms.</li>
            <li>These toxins bioaccumulate, meaning they become more concentrated as they move up the food chain. When predators feed on contaminated prey, they accumulate even higher levels of toxins.</li></ul>
                <br> <br>
            <li class="points">Population Declines and Ecological Disruption:</li>
            <ul class="info-details">
            <li>Elevated toxin levels in wildlife can lead to a range of adverse effects, including reproductive problems, weakened immune systems, and reduced overall fitness.</li>
            <li>In some cases, these health issues can result in population declines or localized extinctions of certain species, disrupting ecological balances and biodiversity within affected ecosystems.</li>
        </ul>
        </ol>
    </div>
    <%- include("partials/mpfooter.ejs") %>