<%- include("partials/mpheader.ejs") %>
    <div class="card-info">
        <h1 class="heading">Health Risks</h1>
        <ol>
            <li class="points">Exposure to Toxins:</li>
            <ul class="info-details"> <li>Respiratory Issues: Workers in the e-waste recycling industry, particularly in informal and unregulated settings, are often exposed to harmful fumes and particulate matter when electronic components are burned or dismantled. Inhalation of these toxins can lead to respiratory problems, such as chronic bronchitis, asthma, and lung infections.</li>
             <li>Skin Disorders: Contact with hazardous materials present in e-waste can cause skin problems, including rashes, burns, and dermatitis. These issues can be exacerbated when workers do not have access to proper protective gear.</li>
            <li>Neurological Problems: Some toxins found in e-waste, like lead and mercury, have neurotoxic properties. Prolonged exposure to these substances can lead to neurological disorders, including impaired cognitive function, memory problems, and developmental delays, especially in children.</li>
            <li>Reproductive and Developmental Health Risks: Exposure to certain e-waste toxins, such as lead and endocrine-disrupting chemicals, can affect reproductive health. It may lead to infertility, birth defects, and developmental delays in children born to exposed parents.</li></ul>
                <br> <br>
            <li class="points">Contaminated Water and Food:</li>
            <ul class="info-details"><li>Water Contamination: Toxic substances from e-waste can leach into the soil and groundwater when e-waste is improperly disposed of in landfills or open areas. This contamination can affect drinking water sources, posing a direct threat to communities that rely on those water supplies.</li>
            <li>Food Chain Contamination: Toxins released into the environment through e-waste pollution can accumulate in plants and aquatic organisms. These contaminants can enter the food chain as they are consumed by animals and humans.</li>
            <li>Health Impacts on Consumers: People who consume contaminated food or water may ingest toxic substances, leading to a range of health problems. These may include gastrointestinal issues, organ damage, cancer, and developmental problems, especially in children and pregnant women.</li>
            <li>Bioaccumulation: Certain toxins tend to accumulate in the tissues of living organisms over time. This means that as toxins move up the food chain, their concentration can increase, posing a greater risk to predators at higher trophic levels.</li>
            <br> <br>
            <li>Efforts to mitigate these health risks include implementing proper e-waste recycling and disposal practices, regulating the e-waste industry to ensure safe working conditions, and raising awareness about the dangers of e-waste exposure. Additionally, water quality monitoring and measures to prevent soil and water contamination are essential to protect human health and ecosystems from the harmful effects of e-waste.</li>
            </ul>
                <br> <br>
            
        </ol>
    </div>
    <%- include("partials/mpfooter.ejs") %>