<%- include("partials/mpheader.ejs") %>
    <div class="card-info">
        <h1 class="heading">Environmental Pollution</h1>
        <ol>
            <li class="points">Energy Consumption and Emissions:</li>
            <ul class="info-details"> <li>The manufacturing and disposal of electronic devices are energy-intensive processes. Producing electronic components, assembling devices, and disposing of them in landfills all consume significant amounts of energy.</li>
            <li>The energy used in manufacturing electronics often involves the extraction and processing of raw materials, transportation, and production processes. Disposing of these devices in landfills contributes to greenhouse gas emissions and exacerbates the carbon footprint associated with electronics.</li>
            <li>When electronic devices are disposed of in landfills, these valuable resources are effectively lost and can no longer be recovered. This contributes to the depletion of finite natural resources, as more virgin materials are required to produce new electronics.</li></ul>
                <br> <br>
            <li class="points">Landfill Space Usage:</li>
            <ul class="info-details"><li>Electronic devices can take up valuable landfill space due to their size and volume. As more and more electronic waste is disposed of improperly, landfills become overcrowded and reach their capacity more quickly.</li>
            <li>Landfills are finite resources, and the inefficient use of landfill space with electronic waste can lead to the need for additional landfill sites, which can be environmentally damaging and costly to establish.</li>
            <li>Soil contamination from e-waste can persist for long periods, posing a lasting threat to the environment.</li></ul>
                <br> <br>
            <li class="points">Environmental Pollution:</li>
            <ul class="info-details"><li>Electronic devices contain hazardous materials, such as heavy metals, flame retardants, and toxic chemicals. When these materials leach into the soil and groundwater from landfills, they can pose environmental risks by contaminating local ecosystems.</li>
            <li>Toxic substances can affect plant life, aquatic organisms, and wildlife, leading to disruptions in local biodiversity and potential health risks for animals and humans in the vicinity.</li>
            <li>Disposing of electronic devices in landfills bypasses the opportunity for recycling and responsible resource recovery. Recycling electronic waste allows for the extraction of valuable materials and the safe disposal of hazardous substances.</li>
        </ul>
        </ol>
    </div>
    <%- include("partials/mpfooter.ejs") %>