<%- include("partials/mpheader.ejs") %>


  <main id="main">
    <h1 class="contactus">Contact Us</h1>
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="mapouter">
        <div class="gmap_canvas">
        <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Dr.D.Y.Patil Institue of Engineering ,Management and Research&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
        <a href="https://connectionsgame.org/">Connections Puzzle</a>
        </div>
        <style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}
        </style>
        </div><!-- End Google Maps -->

        <div class="row gy-4 mt-4">

          <div class="col-lg-4">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Dr. D.Y. Patil Institute of Engineering, Management and Research, Ravet Village Road, Gurudwara Colony, Nigdi, Pimpri-Chinchwad, Maharashtra</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>thephoenixes54@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+91-9356708042</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="/feedback" method="post" class="container shadow-lg p-5 " onsubmit="alert('You have submitted form successfully !!!')">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" autocomplete="off">
                </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" autocomplete="off" >
                </div>
              </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" autocomplete="off" >
              </div>
              
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" autocomplete="off" ></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> --> <br>
              <div class="text-center"><button type="submit" class="sendmsg">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <%- include("partials/mpfooter.ejs") %>